<div class="longdoc-paging longdoc-{{scope}}">
  {{#if urlNext}}
  <div class="longdoc-next">
    <a href="{{urlNext}}" data-longdoc-next title="{{urlNextTitle}}">Neste kapittel</a>
  </div>
  {{/if}}
  {{#if urlPrev}}
  <div class="longdoc-prev">
    <a href="{{urlPrev}}" data-longdoc-prev title="{{urlPrevTitle}}">Forrige kapittel</a>
  </div>
  {{/if}}
</div>